<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17D102</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>WhateverGreen</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.WhateverGreen</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WhateverGreen</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIntelPanelA</key>
		<dict>
			<key>ApplePanels</key>
			<dict>
				<key>Default</key>
				<data>
				AAAHQAr3//4=
				</data>
				<key>F10P9c56</key>
				<data>
				AAAANQDiAP8=
				</data>
				<key>F10P9c57</key>
				<data>
				AAAANQDiAP8=
				</data>
				<key>F10P9c58</key>
				<data>
				AEYARgDXAP8=
				</data>
				<key>F10P9c59</key>
				<data>
				AEwATADMAP8=
				</data>
				<key>F10P9c5a</key>
				<data>
				AEwATADMAP8=
				</data>
				<key>F10P9c5b</key>
				<data>
				AAAAPgEHASg=
				</data>
				<key>F10P9c5c</key>
				<data>
				AAAAPgEHASg=
				</data>
				<key>F10P9c5d</key>
				<data>
				AAAAPgEHASg=
				</data>
				<key>F10P9c5e</key>
				<data>
				AAAAPgEHASg=
				</data>
				<key>F10P9c5f</key>
				<data>
				AAAAPgEHASg=
				</data>
				<key>F10P9c60</key>
				<data>
				AAAANQDiAP8=
				</data>
				<key>F10P9c61</key>
				<data>
				AAAANwDnAP8=
				</data>
				<key>F10P9c62</key>
				<data>
				AAAANwDnAP8=
				</data>
				<key>F10P9c63</key>
				<data>
				AAAAAADlAP8=
				</data>
				<key>F10P9c65</key>
				<data>
				AAAAAADlAP8=
				</data>
				<key>F10P9c69</key>
				<data>
				AAAANQDoAP8=
				</data>
				<key>F10P9c6a</key>
				<data>
				AEUATgDOAP8=
				</data>
				<key>F10P9c6b</key>
				<data>
				AEUATgDOAP8=
				</data>
				<key>F10P9c6c</key>
				<data>
				AAAADgDOAP8=
				</data>
				<key>F10P9c71</key>
				<data>
				AAAADgDOAP8=
				</data>
				<key>F10P9c72</key>
				<data>
				AAAANQDoAP8=
				</data>
				<key>F10P9c74</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zw==
				</data>
				<key>F10P9c7d</key>
				<data>
				AEUATgDOAP8=
				</data>
				<key>F10P9c7e</key>
				<data>
				AAAADgDOAP8=
				</data>
				<key>F10P9c8d</key>
				<data>
				AAAADgDOAP8=
				</data>
				<key>F10P9c8e</key>
				<data>
				AAAADgDOAP8=
				</data>
				<key>F10P9c92</key>
				<data>
				AEUATgDOAP8=
				</data>
				<key>F10P9c93</key>
				<data>
				AEUATgDOAP8=
				</data>
				<key>F10P9c94</key>
				<data>
				AEUATgDOAP8=
				</data>
				<key>F10P9c95</key>
				<data>
				AEUATgDOAP8=
				</data>
				<key>F10P9c96</key>
				<data>
				AAAADgDOAP8=
				</data>
				<key>F10T9c66</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zw==
				</data>
				<key>F10T9c67</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zw==
				</data>
				<key>F10T9c68</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zw==
				</data>
				<key>F10T9c6d</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zw==
				</data>
				<key>F10T9c6f</key>
				<data>
				ABEAAAASABcAHgAnADMAQgBWAG8AkAC7APMBPAGaAhQC
				sgOA
				</data>
				<key>F10T9c70</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zw==
				</data>
				<key>F10T9c73</key>
				<data>
				ABEAAAASABcAHgAnADMAQgBWAG8AkAC7APMBPAGaAhQC
				sgOA
				</data>
				<key>F10T9c79</key>
				<data>
				ABEAAAAjACwANwBEAFUAagCFAKYAzwECAUIBkQH1AnID
				DQPP
				</data>
				<key>F10T9c79D</key>
				<data>
				ABEAAAAjACwANwBEAFUAagCFAKYAzwECAUIBkQH1AnID
				DQPPAMg=
				</data>
				<key>F10T9c7aD</key>
				<data>
				ABEAAAAjACwANwBEAFUAagCFAKYAzwECAUIBkQH1AnID
				DQPPAMg=
				</data>
				<key>F10T9c7c</key>
				<data>
				ABEAAAASABcAHgAnADMAQgBWAG8AkAC7APMBPAGaAhQC
				sgOA
				</data>
				<key>F10T9c80D</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zwDI
				</data>
				<key>F10T9c81D</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zwDI
				</data>
				<key>F10T9c82D</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zwDI
				</data>
				<key>F10T9c83D</key>
				<data>
				ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcD
				zwDI
				</data>
				<key>F10T9c84</key>
				<data>
				ABEAAAAQABUAGwAjAC4APABPAGgAiACzAOsBNQGWAhYC
				vgOa
				</data>
				<key>F10T9c85</key>
				<data>
				ABEAAAAQABUAGwAjAC4APABPAGgAiACzAOsBNQGWAhYC
				vgOa
				</data>
				<key>F10T9c86</key>
				<data>
				ABEAAAAQABUAGwAjAC4APABPAGgAiACzAOsBNQGWAhYC
				vgOa
				</data>
				<key>F10T9c89</key>
				<data>
				ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0D
				PAQA
				</data>
				<key>F10T9c8a</key>
				<data>
				ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0D
				PAQA
				</data>
				<key>F10T9c8b</key>
				<data>
				ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0D
				PAQA
				</data>
				<key>F10T9c8c</key>
				<data>
				ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0D
				PAQA
				</data>
				<key>F10T9c8f</key>
				<data>
				ABEAAAAdACUALgA6AEkAXAB0AJIAtwDmASEBagHGAjkC
				ygOA
				</data>
				<key>F10T9c90</key>
				<data>
				ABEAAAAdACUALgA6AEkAXAB0AJIAtwDmASEBagHGAjkC
				ygOA
				</data>
				<key>F10T9c91</key>
				<data>
				ABEAAAAdACUALgA6AEkAXAB0AJIAtwDmASEBagHGAjkC
				ygOA
				</data>
				<key>F10T9c9a</key>
				<data>
				ABEAAAAdACUALgA6AEkAXAB0AJIAtwDmASEBagHGAjkC
				ygOA
				</data>
				<key>F10T9c9d</key>
				<data>
				ABEAAAAdACUALgA6AEkAXAB0AJIAtwDmASEBagHGAjkC
				ygOA
				</data>
				<key>F10T9c9e</key>
				<data>
				ABEAAAAhACoANgBFAFkAdACXAMUA8AEmAWcBtwIcApsD
				OQQA
				</data>
				<key>F10T9c9f</key>
				<data>
				ABEAAAAhACoANQBDAFYAbgCPALgA4gESAVABmwH6Am8D
				AgO/
				</data>
				<key>F10T9ca0</key>
				<data>
				ABEAAAAhACoANgBFAFkAdACXAMUA8AEmAWcBtwIcApsD
				OQQA
				</data>
				<key>F10T9ca1</key>
				<data>
				ABEAAAAhACoANQBDAFYAbgCPALgA4gESAVABmwH6Am8D
				AgO/
				</data>
				<key>F10T9ca2</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9ca3</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9ca4</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9ca5M</key>
				<data>
				ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0D
				PAQABAA=
				</data>
				<key>F10T9ca6M</key>
				<data>
				ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0D
				PAQABAA=
				</data>
				<key>F10T9ca7M</key>
				<data>
				ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0D
				PAQABAA=
				</data>
				<key>F10T9ca8M</key>
				<data>
				ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0D
				PAQABAA=
				</data>
				<key>F10T9ca9</key>
				<data>
				ABEABgAIAA0AEQAXABsAIQAnAC4AOABAAE8AZQB/AKAA
				ygD/
				</data>
				<key>F10T9caaM</key>
				<data>
				ABEACgAQABYAHgAnADEAOwBKAFwAZABuAHwAjgClAL4A
				zQDYAQA=
				</data>
				<key>F10T9cabM</key>
				<data>
				ABEACgAQABYAHgAnADEAOwBKAFwAZABuAHwAjgClAL4A
				zQDYAQA=
				</data>
				<key>F10T9cb0</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9cb1</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9cb2</key>
				<data>
				ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC
				1QOG
				</data>
				<key>F10T9cb5</key>
				<data>
				ABEABgANABIAGQAhACoANgBDAFUAXgBpAHkAjACiALsA
				2gDy
				</data>
				<key>F10T9cb6</key>
				<data>
				ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYD
				NwQA
				</data>
				<key>F10T9cb7</key>
				<data>
				ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYD
				NwQA
				</data>
				<key>F10T9cb8</key>
				<data>
				ABEAAAAjACsANgBEAFYAbQCMALQA3QEQAU8BnQH+AnkD
				DgPR
				</data>
				<key>F10T9cb9</key>
				<data>
				ABEAAAAjACsANgBEAFYAbQCMALQA3QEQAU8BnQH+AnkD
				DgPR
				</data>
				<key>F10T9cba</key>
				<data>
				ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYD
				NwQA
				</data>
				<key>F10T9cbb</key>
				<data>
				ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYD
				NwQA
				</data>
				<key>F10T9cbcM</key>
				<data>
				ABEACgAQABYAHgAnADEAOwBKAFwAZABuAHwAjgClAL4A
				zQDYAQA=
				</data>
				<key>F10T9cbd</key>
				<data>
				ABEAAAAhACoANgBFAFkAdACXAMUA8AEmAWcBtwIcApsD
				OQQA
				</data>
				<key>F10T9cbeM</key>
				<data>
				ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoID
				FgPOBAA=
				</data>
				<key>F10T9cc0M</key>
				<data>
				ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoID
				FgPOBAA=
				</data>
				<key>F10T9cc1M</key>
				<data>
				ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoID
				FgPOBAA=
				</data>
				<key>F10T9cc2</key>
				<data>
				ABEAAAAhACoANQBDAFYAbgCPALgA4gESAVABmwH6Am8D
				AgO/
				</data>
				<key>F10T9cc3</key>
				<data>
				ABEAAAAiACsANgBGAFgAbwCPALcA4QEUAVQBogIEAnoD
				DwPL
				</data>
				<key>F10T9cc5</key>
				<data>
				ABEAAAAhACkANABCAFMAaQCHAKwA0wEDAT4BhwHiAlIC
				3gOP
				</data>
				<key>F10T9cc7</key>
				<data>
				ABEAAAAiACsANgBGAFgAbwCPALcA4QEUAVQBogIEAnoD
				DwPL
				</data>
				<key>F10T9cc9</key>
				<data>
				ABEAAAAiACsANgBGAFgAbwCPALcA4QEUAVQBogIEAnoD
				DwPL
				</data>
				<key>F10T9ccb</key>
				<data>
				ABEAAAAhACkANABCAFMAaQCHAKwA0wEDAT4BhwHiAlIC
				3gOP
				</data>
				<key>F10T9cd1M</key>
				<data>
				ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoID
				FgPOBAA=
				</data>
				<key>F10T9cd6</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F10T9cd7</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F10T9cd8M</key>
				<data>
				ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoID
				FgPOBAA=
				</data>
				<key>F10T9cd9M</key>
				<data>
				ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoID
				FgPOBAA=
				</data>
				<key>F10T9cdaM</key>
				<data>
				ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoID
				FgPOBAA=
				</data>
				<key>F10T9cdbM</key>
				<data>
				ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoID
				FgPOBAA=
				</data>
				<key>F10T9cdc</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F10T9cdd</key>
				<data>
				ABEACgARABkAIwAwADwASwBaAGgAdQCEAJYAqwDBANUA
				5gD/
				</data>
				<key>F10T9cde</key>
				<data>
				ABEABgANABcAIgAsADoASABZAGoAdACCAJQAqAC9ANIA
				5AD/
				</data>
				<key>F10T9cdf</key>
				<data>
				ABEAAAAjAC4AOgBMAF8AeQCWALsA6QEiAWcBuwIgApwD
				MwPq
				</data>
				<key>F10T9cf0</key>
				<data>
				ABEAAAAiACwAOABJAFsAdACQALUA4AEXAVcBqQILAoED
				EAPA
				</data>
				<key>F10T9cf2</key>
				<data>
				ABEAAAAiACwAOQBJAF0AdQCTALgA5QEcAV8BswIXApID
				KAPe
				</data>
				<key>F10T9cf3</key>
				<data>
				ABEAAAAhACoANgBFAFgAbwCMAK4A2QENAU0BnAH7Am8C
				+wOq
				</data>
				<key>F10T9cf4</key>
				<data>
				ABEAAAAhACkANQBEAFYAbQCJAKoA1AEHAUYBkwHwAmIC
				6wOT
				</data>
				<key>F10T9cfc</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F10T9cfd</key>
				<data>
				ABEACgAPABcAIQAtADkASABWAGEAbAB4AIYAmQCtAL4A
				zQDV
				</data>
				<key>F10T9cfeM</key>
				<data>
				ABEAGAA3AF8AigCzAOsBJAFnAakB1AIJAlQCogL4A00D
				lgP/BAA=
				</data>
				<key>F10T9cff</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F10T9d0c</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F10T9d0d</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F10T9d0fM</key>
				<data>
				ABEAGAA3AF8AigCzAOsBJAFnAakB1AIJAlQCogL4A00D
				lgP/BAA=
				</data>
				<key>F10Ta007</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F10Ta008</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F10Ta00aM</key>
				<data>
				ABEAGAA3AF8AigCzAOsBJAFnAakB1AIJAlQCogL4A00D
				lgP/BAA=
				</data>
				<key>F10Ta00b</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F10Ta00cM</key>
				<data>
				ABEAGAA3AF8AigCzAOsBJAFnAakB1AIJAlQCogL4A00D
				lgP/BAA=
				</data>
				<key>F10Ta00d</key>
				<data>
				ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A
				2wD/
				</data>
				<key>F11P9c58</key>
				<data>
				AEoASgDuASg=
				</data>
				<key>F11P9c5b</key>
				<data>
				AAAANQDhAP8=
				</data>
				<key>F11P9c5c</key>
				<data>
				AAAANQDhAP8=
				</data>
				<key>F11P9c5d</key>
				<data>
				AAAANQDhAP8=
				</data>
				<key>F11P9c5e</key>
				<data>
				AAAANQDhAP8=
				</data>
				<key>F11P9c5f</key>
				<data>
				AAAANQDhAP8=
				</data>
				<key>F11T9c7f</key>
				<data>
				ABEAAADHAP4BNQFsAaMB2gIRAkgCfwK2Au0DJANbA5ID
				yQQA
				</data>
				<key>F12P9c5b</key>
				<data>
				AAAAZAGqAeI=
				</data>
				<key>F12P9c5c</key>
				<data>
				AAAAZAGqAeI=
				</data>
				<key>F12P9c5e</key>
				<data>
				AAAAZAGqAeI=
				</data>
				<key>F12P9c5f</key>
				<data>
				AAAAZAGqAeI=
				</data>
				<key>F12P9c7f</key>
				<data>
				AAAAZAGqAeI=
				</data>
				<key>F12T9c6fL</key>
				<data>
				ABEAAAJfA3cEPwUvBm8IJwoHDNcQRxRXGX8f5yh/Mx8/
				x1NYBAA=
				</data>
				<key>F12T9c73L</key>
				<data>
				ABEAAAJfA3cEPwUvBm8IJwoHDNcQRxRXGX8f5yh/Mx8/
				x1NYBAA=
				</data>
				<key>F12T9c7cL</key>
				<data>
				ABEAAAJfA3cEPwUvBm8IJwoHDNcQRxRXGX8f5yh/Mx8/
				x1NYBAA=
				</data>
				<key>F14T9cc3</key>
				<data>
				ABEAAAAhADYAUQBzAJ4A0wEUAWQBxQImApsDJwPPBJsF
				jAar
				</data>
				<key>F14T9cc5</key>
				<data>
				ABEAAAAgADQATQBuAJYAyAEGAVEBrQIMAnsDAAOdBF0F
				PgZM
				</data>
				<key>F14T9cc7</key>
				<data>
				ABEAAAAhADYAUQBzAJ4A0wEUAWQBxQImApsDJwPPBJsF
				jAar
				</data>
				<key>F14T9cc9</key>
				<data>
				ABEAAAAhADYAUQBzAJ4A0wEUAWQBxQImApsDJwPPBJsF
				jAar
				</data>
				<key>F14T9ccb</key>
				<data>
				ABEAAAAgADQATQBuAJYAyAEGAVEBrQIMAnsDAAOdBF0F
				PgZM
				</data>
				<key>F14T9cdf</key>
				<data>
				ABEAAAA8AFIAagCJAK4A2gEWAVkBtAIUAoIDDgO5BJAF
				mwbm
				</data>
				<key>F14T9cf0</key>
				<data>
				ABEAAAA5AE8AaACDAKcA0gEJAUwBoQIAAmwC8gOYBGAF
				YAag
				</data>
				<key>F14T9cf2</key>
				<data>
				ABEAAAA8AFEAawCJAK4A3AEXAVsBtgIVAoEDDAOyBIMF
				jgbU
				</data>
				<key>F14T9cf3</key>
				<data>
				ABEAAAA6AE4AZwCCAKQA0AEHAUYBmgH5AmAC4gOABEQF
				PgZz
				</data>
				<key>F14T9cf4</key>
				<data>
				ABEAAAA3AEkAYAB7AJ4AxwD6ATkBiwHqAlACzQNmBCYF
				HwZJ
				</data>
				<key>F14T9d0b</key>
				<data>
				ABEAAAAhADYAUQBzAJ4A0wEUAWQBxQImApsDJwPPBJsF
				jAar
				</data>
				<key>F14Ta006</key>
				<data>
				ABEAAAAhADYAUQBzAJ4A0wEUAWQBxQImApsDJwPPBJsF
				jAar
				</data>
				<key>F14Ta010</key>
				<data>
				ABEAAAA5AE8AaACDAKcA0gEJAUwBoQIAAmwC8gOYBGAF
				YAag
				</data>
				<key>F14Ta013</key>
				<data>
				ABEAAAAnADYAUAB2AJ0AzgEMAVkBrgIfApcDMgPgBLUF
				ogbE
				</data>
				<key>F14Ta014</key>
				<data>
				ABEAAAAmADQATQBxAJcAxgECAUsBnQIKAn0DEgO4BIUF
				aQaA
				</data>
				<key>F14Ta015</key>
				<data>
				ABEAAAAnADYAUAB2AJ0AzgEMAVkBrgIfApcDMgPgBLUF
				ogbE
				</data>
				<key>F14Ta019</key>
				<data>
				ABEAAAAfADQATwBxAJsAzwEOAV0BuwIvArkDYAQpBR4G
				RAed
				</data>
				<key>F14Ta022</key>
				<data>
				ABEAAAAfADQATwBxAJsAzwEOAV0BuwIvArkDYAQpBR4G
				RAed
				</data>
				<key>F14Ta02b</key>
				<data>
				ABEAAAAfADQATwBxAJsAzwEOAV0BvAIvArkDYAQqBR8G
				RQee
				</data>
				<key>F14Ta02c</key>
				<data>
				ABEAAAAfADQATwBxAJsAzwEOAV0BvAIvArkDYAQqBR8G
				RQee
				</data>
				<key>F14Ta02e</key>
				<data>
				ABEAAAAeADMATABtAJYAyQEGAVMBrgIeAqQDRgQKBPcG
				FAdj
				</data>
				<key>F14Ta02f</key>
				<data>
				ABEAAAAeADMATABtAJYAyQEGAVMBrgIeAqQDRgQKBPcG
				FAdj
				</data>
				<key>F14Txxxx</key>
				<data>
				ABEAAAA0AFIAcwCUAL4A+gE2AXIBxQIvArkDYAQaBQoG
				DgcQ
				</data>
				<key>F15T9cdf</key>
				<data>
				ABEAAAA4AFgAggC5AP8BVwHDAkIC1QN9BD4FIQYyB4EJ
				DArZ
				</data>
				<key>F15T9cf0</key>
				<data>
				ABEAAAA2AFQAfQCyAPUBSQGxAisCuANZBBME7AXzBzQI
				rwpq
				</data>
				<key>F15T9cf2</key>
				<data>
				ABEAAAA4AFgAggC5AP8BVwHDAkIC1QN9BD4FIQYyB4EJ
				DArZ
				</data>
				<key>F15T9cf3</key>
				<data>
				ABEAAAA1AFQAfACwAPIBRgGsAiUCsQNQBAgE3wXjByEI
				mApO
				</data>
				<key>F15Ta010</key>
				<data>
				ABEAAAA0AFIAeQCsAO0BPwGjAhoCogM+A/IExQXDBvsI
				agoX
				</data>
				<key>F15Ta018</key>
				<data>
				ABEAAAAWACUAOABQAG4AkwDAAPgBOwGNAe8CZgL1A6ME
				dAVp
				</data>
				<key>F15Ta01a</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVp
				</data>
				<key>F15Ta01b</key>
				<data>
				ABEAAAA2AFQAfQCyAPUBSQGxAisCuANZBBME7AXzBzQI
				rwpq
				</data>
				<key>F15Ta01c</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVp
				</data>
				<key>F15Ta020</key>
				<data>
				ABEAAAAWACUAOABQAG4AkwDAAPgBOwGNAe8CZgL1A6ME
				dAVp
				</data>
				<key>F15Ta027</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVp
				</data>
				<key>F15Ta028</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVp
				</data>
				<key>F15Ta029</key>
				<data>
				ABEAAAAXACYAOgBSAHEAkwDEAPwBPwGRAfMCagL5A6UE
				cwVp
				</data>
				<key>F15Ta02a</key>
				<data>
				ABEAAAAXACYAOQBSAHAAlQDCAPkBPQGOAfICawL+A6wE
				eAVp
				</data>
				<key>F15Ta02d</key>
				<data>
				ABEAAAA4AFgAggC5AP8BVwHDAkIC1QN9BD4FIQYyB4EJ
				DArZ
				</data>
				<key>F15Txxxx</key>
				<data>
				ABEAAAA2AFQAfQCyAPUBSQGxAisCuANZBBME7AXzBzQI
				rwrZ
				</data>
				<key>F16Ia039</key>
				<data>
				ABEAAANpBc0IzgyhEWgXRx5yJ0Ax1T6ITZ5fknS7jaaq
				zMzM
				</data>
				<key>F16Ia03c</key>
				<data>
				ABEAAANpBc0IzgyhEWgXRx5yJ0Ax1T6ITZ5fknS7jaaq
				zMzM
				</data>
				<key>F16Ia03d</key>
				<data>
				ABEAAAKPA1MEWgWhB64KPQ4UE3QaXiQYMalEWV52gxG2
				x/97
				</data>
				<key>F16Ia03e</key>
				<data>
				ABEAAAKPA1MEWgWhB64KPQ4UE3QaXiQYMalEWV52gxG2
				x/97
				</data>
				<key>F16Ta01a</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVp
				</data>
				<key>F16Ta01c</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVp
				</data>
				<key>F16Ta027</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVp
				</data>
				<key>F16Ta028</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVp
				</data>
				<key>F16Ta029</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVp
				</data>
				<key>F16Ta030</key>
				<data>
				ABEAAAALAA4AEwAZACIALgA+AFQAcgCcANUBIwGPAiUC
				8gQP
				</data>
				<key>F16Ta031</key>
				<data>
				ABEAAAAMABAAFQAcACYAMwBFAF4AgACvAPABSAHCAmoD
				UgSS
				</data>
				<key>F16Ta033</key>
				<data>
				ABEAAAANABIAFwAgACsAOQBOAGoAkADEAQ4BdQIEAsoD
				3wVp
				</data>
				<key>F16Ta034</key>
				<data>
				ABEAAAANABIAFwAfACoAOABNAGkAjwDEAQ0BcgIAAscD
				3wVp
				</data>
				<key>F16Ta037</key>
				<data>
				ABEAAAANABIAFwAfACoAOABNAGkAjwDEAQ0BcgIAAscD
				3wVp
				</data>
				<key>F16Txxxx</key>
				<data>
				ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oE
				eAVs
				</data>
				<key>F17Ta033</key>
				<data>
				ABEAAAANABIAFgAeACgANgBJAGMAhwC4AP0BXQHjApwD
				nwUP
				</data>
				<key>F17Ta034</key>
				<data>
				ABEAAAANABIAGAAfACoAOABNAGgAjgDCAQoBbwH7AsAD
				1QVa
				</data>
				<key>F17Ta037</key>
				<data>
				ABEAAAANABIAGAAfACoAOABNAGgAjgDCAQoBbwH7AsAD
				1QVa
				</data>
				<key>F17Txxxx</key>
				<data>
				ABEAAAAfADQATwBxAJsAzwEOAV0BuwIvArkDYAQpBR4G
				RAeh
				</data>
				<key>F18Txxxx</key>
				<data>
				ABEAAABTAIwA1QExAaICLgLYA64ErAXlB1kJHAs7DdAQ
				6hSZ
				</data>
				<key>F19Txxxx</key>
				<data>
				ABEAAAKPA1MEWgWhB64KPQ4UE3QaXiQYMalEWV52gxG2
				x/97
				</data>
				<key>F24Txxxx</key>
				<data>
				ABEAAQA0AFIAcwCUAL4A+gE2AXIBxQIvArkDYAQaBQoG
				DgcQ
				</data>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBacklight</string>
			<key>IOClass</key>
			<string>AppleIntelPanelA</string>
			<key>IODisplayParameters</key>
			<dict>
				<key>brightness</key>
				<dict>
					<key>max</key>
					<integer>255</integer>
					<key>min</key>
					<integer>40</integer>
				</dict>
				<key>commit</key>
				<dict>
					<key>reg</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>IOMatchCategory</key>
			<string>IODisplayParameters</string>
			<key>IONameMatch</key>
			<string>backlight</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
		<key>NVHDAEnabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.WhateverGreen</string>
			<key>IOClass</key>
			<string>NVHDAEnabler</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0x000010de&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>300000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>as.vit9696.WhateverGreen</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.WhateverGreen</string>
			<key>IOClass</key>
			<string>WhateverGreen</string>
			<key>IOMatchCategory</key>
			<string>WhateverGreen</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 vit9696. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
