<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16F73</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FakeSMC</string>
	<key>CFBundleIdentifier</key>
	<string>org.netkas.driver.FakeSMC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakeSMC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.25-333-g05e0f4be.1759</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1759</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E3004b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0833</string>
	<key>DTXcodeBuild</key>
	<string>8E3004b</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>FakeSMC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.driver.FakeSMC</string>
			<key>Configuration</key>
			<dict>
				<key>Clover</key>
				<dict>
					<key>BEMB</key>
					<array>
						<string>BEMB</string>
						<string>flag</string>
					</array>
					<key>EPCI</key>
					<array>
						<string>EPCI</string>
						<string>ui32</string>
					</array>
					<key>RBr</key>
					<array>
						<string>RBr</string>
						<string>ch8*</string>
					</array>
					<key>REV</key>
					<array>
						<string>REV</string>
						<string>{rev</string>
					</array>
					<key>RPlt</key>
					<array>
						<string>RPlt</string>
						<string>ch8*</string>
					</array>
				</dict>
				<key>ExceptionKeys</key>
				<dict>
					<key>CLKH</key>
					<integer>1</integer>
					<key>CLKT</key>
					<integer>1</integer>
					<key>MSDW</key>
					<integer>1</integer>
					<key>NATJ</key>
					<integer>1</integer>
					<key>NATi</key>
					<integer>1</integer>
					<key>NTOK</key>
					<integer>1</integer>
					<key>WKTP</key>
					<integer>0</integer>
				</dict>
				<key>Keys</key>
				<dict>
					<key>$Adr</key>
					<array>
						<string>ui32</string>
						<data>
						AAADAA==
						</data>
					</array>
					<key>$Num</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>ACID</key>
					<array>
						<string>ch8*</string>
						<data>
						hfwETdgSevQ=
						</data>
					</array>
					<key>ALI0</key>
					<array>
						<string>{ali</string>
						<data>
						BwECAA==
						</data>
					</array>
					<key>ALRV</key>
					<array>
						<string>ui16</string>
						<data>
						AAE=
						</data>
					</array>
					<key>ALV0</key>
					<array>
						<string>{alv</string>
						<data>
						ARAGdQEgALYO4A==
						</data>
					</array>
					<key>FNum</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>LsNM</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>LsbV</key>
					<array>
						<string>{rev</string>
						<data>
						AQQKAAY=
						</data>
					</array>
					<key>MSLD</key>
					<array>
						<string>ui8 </string>
						<data>
						AA==
						</data>
					</array>
					<key>MSSD</key>
					<array>
						<string>si8</string>
						<data>
						BQ==
						</data>
					</array>
					<key>MSSP</key>
					<array>
						<string>si8</string>
						<data>
						BQ==
						</data>
					</array>
					<key>NATJ</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>OSK0</key>
					<array>
						<string>ch8*</string>
						<data>
						b3VyaGFyZHdvcmtieXRoZXNld29y
						ZHNndWFyZGVkcGw=
						</data>
					</array>
					<key>OSK1</key>
					<array>
						<string>ch8*</string>
						<data>
						ZWFzZWRvbnRzdGVhbChjKUFwcGxl
						Q29tcHV0ZXJJbmM=
						</data>
					</array>
					<key>REV </key>
					<array>
						<string>{rev</string>
						<data>
						ATAPAAAD
						</data>
					</array>
					<key>RMde</key>
					<array>
						<string>char</string>
						<data>
						QQ==
						</data>
					</array>
					<key>RVBF</key>
					<array>
						<string>{rev</string>
						<data>
						ATAPAAAD
						</data>
					</array>
					<key>RVUF</key>
					<array>
						<string>{rev</string>
						<data>
						ATAPAAAD
						</data>
					</array>
				</dict>
				<key>Types</key>
				<dict>
					<key>BEMB</key>
					<string>flag</string>
					<key>CLKC</key>
					<string>{clc</string>
					<key>CLKH</key>
					<string>{clh</string>
					<key>CLKT</key>
					<string>ui32</string>
					<key>CLWK</key>
					<string>ui32</string>
					<key>EPCI</key>
					<string>flag</string>
					<key>LSSS</key>
					<string>{lso</string>
					<key>MSDS</key>
					<string>ui8</string>
					<key>MSDW</key>
					<string>flag</string>
					<key>MSPS</key>
					<string>{msp</string>
					<key>RPlt</key>
					<string>ch8*</string>
				</dict>
				<key>debug</key>
				<false/>
				<key>smc-compatible</key>
				<string>smc-napa</string>
				<key>trace</key>
				<false/>
			</dict>
			<key>IOClass</key>
			<string>FakeSMC</string>
			<key>IOMatchCategory</key>
			<string>FakeSMC</string>
			<key>IOProviderClass</key>
			<string>AppleACPIPlatformExpert</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
			<key>RM,Build</key>
			<string>Release-rehabman</string>
			<key>RM,Version</key>
			<string>FakeSMC 1759</string>
		</dict>
		<key>FakeSMCKeyStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.driver.FakeSMC</string>
			<key>IOClass</key>
			<string>FakeSMCKeyStore</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCKeyStore</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>FakeSMCKeyStoreUserClient</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 netkas. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1429</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.6</string>
		<key>com.apple.kpi.mach</key>
		<string>10.6</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.6</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>Source Code</key>
	<string>"https://github.com/RehabMan/OS-X-FakeSMC-kozlek.git"</string>
</dict>
</plist>
