<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>mXHCD</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.0, Copyright © 2000-2011 MTK Inc. All Rights Reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.mtk.driver.mXHCD</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit Driver for USB XHCI Controllers</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>mXHCD</key>
		<dict>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.mtk.driver.mXHCD</string>
			<key>IOClass</key>
			<string>mXHCD</string>
			<key>IOPCIClassMatch</key>
			<string>0x0c033000</string>
			<key>IOPCIMatch</key>
			<string>0x01941033</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>IOUSBControllerUserClient</string>
		</dict>
		<key>mXHCD_OMI</key>
		<dict>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOMatchCategory</key>
			<string>OMI_XHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x0c033000</string>
			<key>IOPCIMatch</key>
			<string>0x01941033</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
