<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20G417</string>
	<key>CFBundleExecutable</key>
	<string>VoodooPS2Mouse</string>
	<key>CFBundleGetInfoString</key>
	<string>2.2.8, Copyright Apple Computer, Inc. 2000-2004, Slice 2010, RehabMan 2012-2013</string>
	<key>CFBundleIdentifier</key>
	<string>as.acidanthera.voodoo.driver.PS2Mouse</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Voodoo PS/2 Mouse</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.2.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12E507</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.3</string>
	<key>DTSDKBuild</key>
	<string>20E214</string>
	<key>DTSDKName</key>
	<string>macosx11.3</string>
	<key>DTXcode</key>
	<string>1251</string>
	<key>DTXcodeBuild</key>
	<string>12E507</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ApplePS2Mouse</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.acidanthera.voodoo.driver.PS2Mouse</string>
			<key>HIDPointerAccelerationType</key>
			<string>HIDTrackpadAcceleration</string>
			<key>HIDScrollAccelerationType</key>
			<string>HIDTrackpadScrollAcceleration</string>
			<key>IOClass</key>
			<string>ApplePS2Mouse</string>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
			<key>Platform Profile</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>ActLikeTrackpad</key>
					<false/>
					<key>ButtonCount</key>
					<integer>3</integer>
					<key>Darwin 16+</key>
					<dict>
						<key>ApplePreferenceCapability</key>
						<true/>
						<key>ApplePreferenceIdentifier</key>
						<string>com.apple.AppleMultitouchTrackpad</string>
						<key>MT Built-in</key>
						<true/>
						<key>MTHIDDevice</key>
						<true/>
						<key>SupportsGestureScrolling</key>
						<true/>
						<key>TrackpadEmbedded</key>
						<true/>
						<key>TrackpadFourFingerGestures</key>
						<false/>
						<key>TrackpadSecondaryClickCorners</key>
						<true/>
						<key>TrackpadThreeFingerDrag</key>
						<false/>
					</dict>
					<key>DefaultResolution</key>
					<integer>240</integer>
					<key>DisableDevice</key>
					<false/>
					<key>DisableLEDUpdating</key>
					<false/>
					<key>FakeMiddleButton</key>
					<false/>
					<key>ForceDefaultResolution</key>
					<true/>
					<key>ForceSetResolution</key>
					<false/>
					<key>MiddleClickTime</key>
					<integer>100000000</integer>
					<key>MouseCount</key>
					<integer>0</integer>
					<key>MouseYInverter</key>
					<integer>1</integer>
					<key>ProcessBluetoothMouseStopsTrackpad</key>
					<true/>
					<key>ProcessUSBMouseStopsTrackpad</key>
					<true/>
					<key>QuietTimeAfterTyping</key>
					<integer>500000000</integer>
					<key>ResolutionMode</key>
					<integer>3</integer>
					<key>ScrollResolution</key>
					<integer>5</integer>
					<key>ScrollYInverter</key>
					<integer>1</integer>
					<key>TrackpadScroll</key>
					<true/>
					<key>WakeDelay</key>
					<integer>1000</integer>
				</dict>
				<key>HPQOEM</key>
				<dict>
					<key>1411</key>
					<string>ProBook</string>
					<key>1619</key>
					<string>ProBook</string>
					<key>161C</key>
					<string>ProBook</string>
					<key>164F</key>
					<string>ProBook</string>
					<key>167C</key>
					<string>ProBook</string>
					<key>167E</key>
					<string>ProBook</string>
					<key>1680</key>
					<string>ProBook</string>
					<key>179B</key>
					<string>ProBook</string>
					<key>179C</key>
					<string>ProBook</string>
					<key>17A9</key>
					<string>ProBook</string>
					<key>17F0</key>
					<string>ProBook</string>
					<key>17F3</key>
					<string>ProBook</string>
					<key>17F6</key>
					<string>ProBook</string>
					<key>1942</key>
					<string>ProBook</string>
					<key>1949</key>
					<string>ProBook</string>
					<key>198F</key>
					<string>ProBook</string>
					<key>ProBook</key>
					<dict>
						<key>ActLikeTrackpad</key>
						<true/>
						<key>DisableDevice</key>
						<true/>
					</dict>
					<key>ProBook-102</key>
					<string>ProBook</string>
					<key>ProBook-87</key>
					<string>ProBook</string>
				</dict>
			</dict>
			<key>ProductID</key>
			<integer>547</integer>
			<key>RM,deliverNotifications</key>
			<true/>
			<key>USBMouseStopsTrackpad</key>
			<integer>0</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.acidanthera.voodoo.driver.PS2Controller</key>
		<string>2.2.8</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
