<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>21G83</string>
	<key>CFBundleExecutable</key>
	<string>BrcmFirmwareData</string>
	<key>CFBundleIdentifier</key>
	<string>as.acidanthera.BrcmFirmwareStore</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BrcmFirmwareData</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.6.5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A400</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E226</string>
	<key>DTSDKName</key>
	<string>macosx12.3</string>
	<key>DTXcode</key>
	<string>1401</string>
	<key>DTXcodeBuild</key>
	<string>14A400</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>BrcmFirmwareStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.acidanthera.BrcmFirmwareStore</string>
			<key>IOClass</key>
			<string>BrcmFirmwareStore</string>
			<key>IOMatchCategory</key>
			<string>BrcmFirmwareStore</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>OSBundleCompatibleVersion</key>
	<string>2.6.5</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>9.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0</string>
	</dict>
</dict>
</plist>
