<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15G31</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>VoodooHDA</string>
	<key>CFBundleIdentifier</key>
	<string>org.voodoo.driver.VoodooHDA</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoodooHDA</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.9.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7D1014</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15E60</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0731</string>
	<key>DTXcodeBuild</key>
	<string>7D1014</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VoodooHDA</key>
		<dict>
			<key>AllowMSI</key>
			<true/>
			<key>Boost</key>
			<integer>1</integer>
			<key>CFBundleIdentifier</key>
			<string>org.voodoo.driver.VoodooHDA</string>
			<key>DisableInputMonitor</key>
			<true/>
			<key>IOClass</key>
			<string>VoodooHDADevice</string>
			<key>IOMatchCategory</key>
			<string>VoodooHDADevice</string>
			<key>IOPCIClassMatch</key>
			<string>0x04020000&amp;0xfffe0000</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>VoodooHDAUserClient</string>
			<key>InhibitCache</key>
			<false/>
			<key>MixerValues</key>
			<dict>
				<key>PCM</key>
				<integer>100</integer>
				<key>Rec</key>
				<integer>90</integer>
				<key>iGain</key>
				<integer>90</integer>
				<key>iMix</key>
				<integer>100</integer>
			</dict>
			<key>NodesToPatch</key>
			<array>
				<dict>
					<key>Caps</key>
					<string>0x373e</string>
					<key>Codec</key>
					<integer>4</integer>
					<key>Comment</key>
					<string>Example of possible values</string>
					<key>Config</key>
					<string>0x90a70120</string>
					<key>Conns</key>
					<string>12,13,24</string>
					<key>Control</key>
					<string>20</string>
					<key>DAC</key>
					<string>2</string>
					<key>Enable</key>
					<string>1</string>
					<key>Node</key>
					<integer>12</integer>
					<key>Select</key>
					<string>13</string>
					<key>SwitchCh</key>
					<string>0</string>
					<key>Type</key>
					<string>4</string>
				</dict>
				<dict>
					<key>Codec</key>
					<integer>2</integer>
					<key>Comment</key>
					<string>To disable back sound on ALC codec set enable=0</string>
					<key>Enable</key>
					<string>1</string>
					<key>Node</key>
					<integer>11</integer>
				</dict>
			</array>
			<key>Noise</key>
			<integer>0</integer>
			<key>Vectorize</key>
			<true/>
			<key>VoodooHDAEnableHalfMicVolumeFix</key>
			<false/>
			<key>VoodooHDAEnableHalfVolumeFix</key>
			<false/>
			<key>VoodooHDAEnableMuteFix</key>
			<false/>
			<key>VoodooHDAEnableVolumeChangeFix</key>
			<false/>
			<key>VoodooHDAVerboseLevel</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAudioFamily</key>
		<string>1.1fc9</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
</dict>
</plist>
