<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>GPUSensors</string>
	<key>CFBundleIdentifier</key>
	<string>org.hwsensors.driver.GPUSensors</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GPUSensors</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.26-357-gceb835ea.1800</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1800</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E3004b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0833</string>
	<key>DTXcodeBuild</key>
	<string>8E3004b</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AMD Radeon Monitoring Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.hwsensors.driver.GPUSensors</string>
			<key>IOClass</key>
			<string>RadeonSensors</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0x00001002&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<string>40000</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
		</dict>
		<key>Intel GMA X3100 Monitoring Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.hwsensors.driver.GPUSensors</string>
			<key>IOClass</key>
			<string>GmaSensors</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff0000000</string>
			<key>IOPCIMatch</key>
			<string>0x2a028086&amp;0xffffffff 0x2a128086&amp;0xffffffff</string>
			<key>IOProbeScore</key>
			<string>30000</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
		</dict>
		<key>nVidia GeForce Monitoring Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.hwsensors.driver.GPUSensors</string>
			<key>IOClass</key>
			<string>GeforceSensors</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0x000010de&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<string>50000</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 kozlek. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.6</string>
		<key>com.apple.kpi.mach</key>
		<string>10.6</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.6</string>
		<key>org.netkas.driver.FakeSMC</key>
		<string>1429</string>
	</dict>
	<key>Source Code</key>
	<string>"https://github.com/RehabMan/OS-X-FakeSMC-kozlek.git"</string>
</dict>
</plist>
